@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Staatliches&display=swap');

h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

h3 {
    font-family: 'monaco';
    letter-spacing: 1px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 5px;
}

p#intro {
    font-family: 'monaco';
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

p#set {
    text-align: right;
}

p#card{
    text-align: left;
}

h5 {
    font-family: 'monaco';
    letter-spacing: 1px;
}